@page
@model ResetPasswordModel

@{
	ViewData["Title"] = "Reset Password";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="min-vh-100">

	<div class="position-absolute top-0 start-0 m-3">
		<img src="~/images/dyvenix-logo-400x100.png" alt="PEAK Logo" style="width:40%; height:auto;" />
	</div>

	<div class="d-flex align-items-center justify-content-center min-vh-100">
	<div class="col-md-4">
		<section>
			<form id="reset-password" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input asp-for="Input.Code" type="hidden" />
				<input asp-for="Input.Email" type="hidden" />
				<div class="mb-3 text-center">
					<div style="font-size:20px;font-weight:700;color:#333333">Reset Password</div>
				</div>
				<div class="mb-3">
					<label asp-for="Input.Password" class="form-label"></label>
					<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Input.ConfirmPassword" class="form-label"></label>
					<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<div>
					<button type="submit" class="w-100 btn btn-lg btn-primary">Reset password</button>
				</div>
			</form>
		</section>
	</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
